# Dados e resultados que não devem ser versionados
dataout/
outputs/
src/readDiag.egg-info/
docs.old/
notebooks/
*.egg-info/
*.csv
*.log
*.swp
*.swo
#*.yml
*.tmp
.DS_Store
# Files e Paths
log
0001-radiance.patch
__pycache__/
dataTest/
data_processed/
readDiag.egg-info/
conv_reader.py
reader.py1
reader.py2
reader.py3
reader_funcionando.py

# MkDocs build
site/

# MkDocs build
site/
# Local bundles
*.zip
# Ignore PNGs gerados nos testes
tests/**/*.png

# Permitir imagens de documentação
!docs/images/*.png
